

//Colors
$coral: #FB8F67;
$blue: #34435e;
$gray: #F9F5FF;
$mindaro: #E2F89C;
$cambridge: #689689;


// Breakpoints
$breakpoint-mobile-min: 0px;
$breakpoint-mobile-max: 768px;

$breakpoint-desktop-min: 769px;
$breakpoint-desktop-max: 9999px;
